* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header .nav {
    width: 100%;
    background-color: black;
    height: 40px;
}

header .nav-link {
    color: whitesmoke !important;
    text-decoration: none;
}

main {
    margin-left: 120px;
    width: 80%;
}

main .nav {
    background-color: black;
    height: 30px;
}

.footer {
    width: 100%;
    background-color: grey;
    height: 45px;
}